# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# Ignore everything in the .dfx directory
.dfx/local
.dfx/ic/lsp
.dfx/ic/canisters/idl
.dfx/ic/canisters/nnsvector/*
!.dfx/ic/canisters/nnsvector/nnsvector.wasm.gz

# rust
target/

# other
package-lock.json
node_modules/
dist/
.env
.mops
canister.sh
upgrade.sh
tests/nns_state/
tests/pic/nns_state